@{
    ViewBag.Title = "WorthMyCash.Com";
}

<div class="jumbotron">
    <h1>WORTHMYCASH.COM</h1>
    <p class="lead">Rate consumer electronics. Is it Worth My Cash? Let us know!</p>
    <p><button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Speak Your Mind!", "Create")</button></p>
</div>