body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
    color: #FFFFFF;
    font-weight:300;
    background-color: #6DA5FF; 
}

/*.nav>li>a:hover {
    color: #3281FF;
}*/

.jumbotron {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron>h1 {
    font-size: 56px;
}

.jumbotron>p {
    font-size: 28px;
}

.tagline {
    font-family: 'Permanent Marker', cursive;
    font-size: 34px;
}

/*.btn .btn-default .btn-lg {
    color: #000000;
}*/